<% include ../partials/header %>







<div class = "container"> 
<header class="jumbotron" style="text-align: center; background: none;">
<div class = "container">
<h1 style="color:	#696969">Welcome To YelpCamp</h1>


<p><i class="fas fa-campground fa-lg" style="color: black"></i> View our hand-picked campgrounds from all over the world</p>

<p style="margin-top:50px">
    
<a class="btn btn-success btn-lg " href="/campgrounds/new">Add New Campground</a>    
</p>
</div>
</header>

<div class="row text-center" style="display: flex; flex-wrap: wrap; margin-top: -40px">

<% campgrounds.forEach(function(campground){ %>
    
    <div class="col-md-3 col-sm-6">
        <div class="thumbnail img-fluid img-rounded" >
        <img class=" img-fluid img-rounded" src = "<%= campground.image %>" > 
       <div class ="caption ">
           <h4> <%= campground.name %> 
            
            </div>
            <p>
                <a href="/campgrounds/<%= campground.id %>" class="btn btn-success">More Info</a>
            </p>
        </div>
        
    </div>
    
<% }) %>

</div>
</div>

<% include ../partials/footer %>