.thumbnail img {
    width: 100%;
}
.thumbnail{
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}
#delete-form{
    display: inline
}
#map {
    height: 400px;
    width: 100%;
}
body {
    background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EQMOWcXPx/videoblocks-green-abstract-background_byl-ehp0x_thumbnail-full01.png")
}