.thumbnail img {
    width: 100%;
}
.thumbnail{
    padding: 0;
}


.thumbnail .caption-full {
    padding: 9px;
}
#delete-form{
    display: inline
}
#map {
    height: 400px;
    width: 100%;
}
body {
    background: url("https://webgradients.com/public/webgradients_png/032%20Sharpeye%20Eagle.png");
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.jumbotron {
    font-weight: bold;
}